<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petrichor.sincerity.mapper.SysRoleMapper">
    <insert id="insertRole">
        insert into sys_role
        (id, role_name, create_time, create_by)
        values
        (#{id}, #{roleName}, NOW(), #{createBy})
    </insert>
    <insert id="roleLinkPermission">
        insert into sys_role_permission(role_id, permission_id)
        values
        <foreach collection="permissionId" item="pId" separator=",">
            (#{roleId},#{pId})
        </foreach>
    </insert>
    <update id="deleteRole">
        update sys_role set
        del_flag = '2',
        update_time=NOW(),
        update_by=#{updateBy}
        where id = #{id}
    </update>
    <update id="editRole">
        update sys_role set
        role_name=#{roleName},
        update_time=NOW(),
        update_by=#{updateBy}
        where id = #{id}
    </update>
    <delete id="roleUnLinkPermission">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>
    <select id="getRoleById" resultType="com.petrichor.sincerity.entity.SysRole">
        select * from sys_role where id=#{id}
    </select>
    <select id="getRoleList" resultType="com.petrichor.sincerity.entity.SysRole">
        select * from sys_role where del_flag=0
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="roleName!= null">
            AND role_name like concat('%',#{roleName},'%')
        </if>
    </select>
    <select id="getRoleByRoleName" resultType="com.petrichor.sincerity.entity.SysRole">
        select * from sys_role where del_flag=0 and role_name=#{roleName}
    </select>
    <select id="getRolePermissions" resultType="long">
        select permission_id from sys_role_permission where role_id = #{roleId}
    </select>
</mapper>