<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petrichor.sincerity.mapper.SysUserMapper">
    <insert id="insertUser">
        insert into sys_user
        (id, user_name, password, real_name, phone, avatar, create_time, create_by)
        values
        (#{id}, #{userName}, #{password}, #{realName}, #{phone}, #{avatar}, NOW(), #{createBy})
    </insert>

    <insert id="userLinkRoles">
        insert into sys_user_role(user_id,role_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

    <update id="editUser">
        update sys_user set
        real_name=#{realName},
        phone=#{phone},
        update_time=NOW(),
        update_by=#{updateBy}
        where id = #{id}
    </update>

    <update id="deleteUser">
        update sys_user set
        del_flag = '2',
        update_time=NOW(),
        update_by=#{updateBy}
        where id = #{id}
    </update>

    <delete id="userUnlinkRoles">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <select id="getUserById" resultType="com.petrichor.sincerity.entity.SysUser">
        select * from sys_user where id=#{id}
    </select>

    <select id="getUserList" resultType="com.petrichor.sincerity.vo.SysUserList">
        select * from sys_user where del_flag=0
        <if test="userName!= null">
            AND user_name like concat('%',#{userName},'%')
        </if>
    </select>

    <select id="getUserByUserName" resultType="com.petrichor.sincerity.entity.SysUser">
        select * from sys_user where del_flag=0 and user_name=#{userName} limit 1
    </select>

    <select id="getUserByPhone" resultType="com.petrichor.sincerity.entity.SysUser">
        select * from sys_user where del_flag=0 and phone=#{phone} limit 1
    </select>

    <select id="getUserPermissionsByUserId" resultType="com.petrichor.sincerity.entity.SysPermission">
        SELECT p.* FROM
        (SELECT DISTINCT rp.permission_id FROM
        (SELECT role_id FROM sys_user_role WHERE user_id = #{userId}) AS ur
        LEFT JOIN sys_role_permission AS rp
        ON ur.role_id = rp.role_id) AS ps
        LEFT JOIN sys_permission AS p
        ON ps.permission_id = p.id
        ORDER BY order_num ASC
    </select>

    <select id="getUserRoleIdsByUserIds" resultType="com.petrichor.sincerity.vo.SysUserRole">
        select * from sys_user_role where user_id in (
        <foreach collection="userIds" item="userId" separator=",">
            #{userId}
        </foreach>
        )
    </select>


</mapper>